@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* PRIMARY COLORS */
    --light-red-cta: hsl(356, 100%, 66%);
    --very-light-red-cta: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%);

    /* NEUTRAL COLORS */
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-black-blue: hsl(240, 10%, 16%);

    /* GRADIENT COLORS */
    --very-light-red: hsl(13, 100%, 72%);
    --light-red: hsl(353, 100%, 62%);
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);

    --fs-default: 16px;
}

body {
    min-height: 100vh;
    font-size: var(--fs-default);
    overflow-x: hidden;
}

/* HEADER STYLING */

header {
    background: url("./images/bg-pattern-intro-desktop.svg"), linear-gradient(to right, var(--very-light-red), var(--light-red));
    background-position: 25% 50%;
    background-repeat: no-repeat;
    background-size: auto;
    
    border-bottom-left-radius: 5rem;
    color: var(--white);
    font-family: "Overpass", sans-serif;
    padding: 4rem 10rem;
    text-align: center
}

header a {
    color: var(--white);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-menus {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-width: 20rem;
    width: 40%;
}

.header__link-product,
.header__link-company,
.header__link-connect {
    margin-left: 0.3rem;
    white-space: nowrap;
}

.header__dropdown {
    display: none;
}

.header__nav-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__sign-up-btn,
.header__start-btn,
.header__learn-btn {
    border-radius: 1.5rem;
    padding: 0.6rem 1.5rem;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    transition: 0.5s;
}

.header__sign-up-btn {
    background-color: var(--white);
    color: var(--very-light-red-cta);
    border: none;
}

.header__sign-up-btn:hover {
    cursor: pointer;
    background-color: var(--very-light-red-cta);
    color: var(--white);
}

.header__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 4rem;
}

.header__info h1 {
    font-size: 3rem;
}

.header__info-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.header__start-btn {
    background-color: var(--white);
    color: var(--very-light-red-cta);
    border: none;
}

.header__start-btn:hover {
    cursor: pointer;
    background-color: var(--very-light-red-cta);
    color: var(--white);
}

.header__learn-btn {
    background-color: var(--light-red-cta);
    color: var(--white);
    border: 1px solid var(--white);
}

.header__learn-btn:hover {
    cursor: pointer;
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--very-light-red-cta);
}

/* SECTION ONE STYLING */

.section-one {
    background-color: var(--white);
    color: var(--very-dark-grayish-blue);
    font-family: "Overpass", sans-serif;
    padding: 7rem;
    line-height: 1.5;
}

.section-one h2 {
    text-align: center;
    grid-column: 1 / 3;
}

.section-one h2,
.section-one h3 {
    color: var(--very-dark-blue);
}

.section-one h2 {
    margin-bottom: 5rem;
    font-size: 2rem;
}

.section-one article h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.section-one__container {
    display: flex;
    justify-content: space-between;
}

.section-one__article-text {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 55%;
}

.section-one img {
    position: absolute;
    top: -400px;
    left: -200px;
}